body{
	background-color: white;
	font-family: 'Lato', sans-serif;
	font-size: 20px;
	color: white;
/*	margin: 0;
	padding: 0;*/
}

.navbar-custom{
	color: white;
}

.navbar-custom .navbar-brand{
	color: white;
	font-size: 1.5em;
/*	line-height: 38px;*/
}

/*.navbar-header button{
	margin-top: 16px;
	height: 38px;
}*/

#menu a{
	color: white;
	font-size: 1.0em;
/*	line-height: 38px;*/
}


nav ul li a{*/
/*	position: relative;
/*	height: 70px;
	padding: 20px 20px;*/
/*	color: white;*/
/*	transition: .5s;*/
/*}*/

#menu .active{
	color: yellow;
}

.pageOne{
	background-color: rgb(0, 204, 153);
	background-size: cover;
	height: 600px;
	padding-top: 100px;
}

.me{
	height: 200px;
}

.social{
	color: white;
	padding: 15px;
}

.pageTwo{
	background-color: white;
	color: black;
	background-size: cover;
	height: 480px;
}

.block{
	padding-top: 40px;
}

.title{
	font-weight: bolder;
	font-size: 3.0em;
}

.subtitle{
	font-weight: bold;
}

strong{
	font-size: 23px;
}

.pageThree{
	background-color: rgb(0, 204, 153);
	color: white;
	background-size: cover;
	height: 480px;
}

.pageFour{
	background-color: white;
	height: 480px;
	background-size: cover;
	color:black;
}

.school{
	font-weight: bolder;
	font-size: 2.0em;
}

.pageFive{
	background-color: rgb(0, 204, 153);
	height: 480px;
	background-size: cover;
	color:white;
}

.info{
	font-weight: bolder;
	padding-top: 10px;
	padding-left: 30px;
}

.hr{
	border-width: 5px;
	background-color: black;
	color: black !important;
}

.hr-left{
	margin-left: 30px;
}

.pageSix{
	background-color: rgb(0, 102, 153);
	height: 50px;
	background-size: cover;
	color:white;
}

.footer{
	padding-top: 10px;
}

@media(max-width: 768px){

	.body{
		font-size: 10px;
	}

	.title{
		font-size: 1.5em;
	}

	#p4 .school{
		font-size: 1.5em;
	}
}
