body{
	background-color: white;
	font-family: 'Lato', sans-serif;
	font-size: 20px;
	color: white;
/*	margin: 0;
	padding: 0;*/
}

.navbar-custom{
	color: white;
	margin-bottom: 0px;
}

.navbar-custom .navbar-brand{
	color: white;
	font-size: 1.0em;
/*	line-height: 38px;*/
}

/*.navbar-toggle::before {
    content:"MENU";
    position:absolute;
    right: 45px;
    bottom: 3px; 
 }*/

/*.navbar-header button{
	margin-top: 16px;
	height: 38px;
}*/

#menu a{
	color: white;
	font-size: 1.0em;
/*	line-height: 38px;*/
}

#menu .active a{
	color: yellow;
}

.pageOne{
/*	height: 600px;
	padding-top: 100px;*/
}

#p1 .container{
	padding: 0;
	width: 100%;
}

#p1 .me{
	height: 200px;
}

#p1 .carousel-inner .item{
	padding-top: 50px;
	height: 600px;
}

#p1 .carousel-inner .item .title{
	padding-top: 290px;
}

#p1 #img1 .container{
	background: url("https://images.unsplash.com/photo-1448375240586-882707db888b?auto=format&fit=crop&w=1950&q=80");
	height: 100%;
	width: 100%;
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#p1 #img2 .container{
	background: url("https://images.unsplash.com/photo-1421789665209-c9b2a435e3dc?auto=format&fit=crop&w=1951&q=80");
	height: 100%;
	width: 100%;
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#p1 #img3 .container{
	background: url("https://images.unsplash.com/photo-1501244686579-97d04b498199?auto=format&fit=crop&w=1950&q=80");
	height: 100%;
	width: 100%;
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#p1 .fixpos .wrap{
	padding-top: 80px;
}

.social{
	color: white;
	padding: 15px;
}

.social:hover{
	color: black;
	text-decoration: none;
}

.pageTwo{
	background-color: white;
	color: black;
	background-size: cover;
	height: 480px;
}

.block{
	padding-top: 60px;
}

.title{
	font-weight: bolder;
	font-size: 3.0em;
}

.subtitle{
	font-weight: bold;
}

strong{
	font-size: 23px;
}

.pageThree{
	background: url("https://images.unsplash.com/photo-1489617482379-fc98cdb77efb?auto=format&fit=crop&w=2089&q=80");
	background-attachment: fixed;
	color: white;
	background-size: cover;
	height: 480px;
}

.pageFour{
	background-color: white;
	height: 550px;
	background-size: cover;
	color:black;
}

.school{
	font-weight: bolder;
	font-size: 1.3em;
}

#p4 .owl-carousel{
	margin-top: 50px;
}

#p4 .inner-content{
	position: relative;
	
	margin-left: 20px;
	margin-right: 20px; 
}

#p4 .inner-content img{
	width: 100%;
	height: 100%;
}

#p4 .inner-content .overlay-content{
	position: absolute;
	top: 100%;
	left: 0px;
	text-align: center;
	background-color: rgba(0,0,0,0.8);
	width: 100%;
	height: 100%;
	-webkit-transition: 0.3s ease;

}

#p4 .inner-content .overlay-content h4{
	margin-top: 60px;
	color: white;
}

#p4 .inner-content .overlay-content p{
	margin-top: 30px;
	color: white;
	font-size: 0.7em;
}

#p4 .inner-content .overlay-content a{
	color: #2d82d8;
	font-weight: bold;
}

#p4 .inner-content:hover .overlay-content{
	top: 0px;
}

#p4 .owl-nav{
	margin-top: 20px;
}

#p4 .owl-nav div{
	display: inline-block;
}

#p4 .owl-nav .owl-prev{
	margin-left: 48%;
}

#p4 .owl-nav img{
	height: 20px;
	background-color: grey;
	margin-right: 30px;
	border-radius: 40%;
}

#p4 .owl-nav img:hover{
	background-color: rgb(255, 153, 51);
}

.pageFive{
	background-color: rgb(0, 153, 153);
	height: 480px;
	background-size: cover;
	color:white;
}

.info{
	font-weight: bolder;
	padding-top: 10px;
	padding-left: 30px;
}

.hr{
	border-width: 5px;
	background-color: black;
	color: black !important;
}

.hr-left{
	margin-left: 30px;
}

.pageSix{
	background-color: rgb(0, 102, 153);
	height: 50px;
	background-size: cover;
	color:white;
}

.footer{
	padding-top: 10px;
}


@media(max-width: 810px){
	#p4 .inner-content .overlay-content h4{
		margin-top: 20px;
	}

	#p4 .inner-content .overlay-content p{
		margin-top: 20px;
		color: white;
		font-size: 0.7em;
	}
}


@media(max-width: 600px){

	.body{
		font-size: 5px;
	}

	.navbar-custom .navbar-brand{
		font-size: 0.7em;
	}

	#p1 .social{
		font-size: 0.7em;
		padding: 5px;
	}

	.title{
		font-size: 1.5em;
	}

	#p1 h1{
		font-size: 2.0em;
	}

	#p3{
		height: 540px;
	}

	#p4 .school{
		font-size: 1.0em;
	}

	#p4 {
		height: 650px;
	}

	#p4 .owl-nav{
		display: none;
	}

	#p4 .inner-content .overlay-content h4{
		margin-top: 120px;
	}

	#p4 .inner-content .overlay-content p{
		margin-top: 30px;
		color: white;
		font-size: 0.7em;
	}
}

@media(max-width: 450px){
	#p4 .owl-nav{
		display: none;
	}

	#p4 {
		height: 580px;
	}

	#p4 .inner-content .overlay-content h4{
		margin-top: 80px;
	}

	#p4 .inner-content .overlay-content p{
		margin-top: 30px;
		color: white;
		font-size: 0.7em;
	}
}


